* {
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    background-color: rgb(228, 228, 228);
}

.navbar {
    display: flex;
    column-gap: 67rem;
    box-shadow: 0 -3px 10px 2px;
}

.logo {
    padding: 1rem;
}

.citrus {
    color: #96C93D;
    font-size: 2rem;
}

.hotel {
    color: #96C93D;
    font-size: 1rem;
}

.navs  {
    display: flex;
    column-gap: 2rem;
    margin-top: 2rem;
}
.home {
    color: #96C93D;
}

.contact-us {
    color: #3f3f3f;
}

.booking-status {
    color: #3f3f3f;
}

.status {
    display: flex;
    justify-content: space-around;
    padding: .3rem;
    margin-top: 1.5rem;
    background-color: #ebebeb;
    border-radius: 7px;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.room-selection {
    background-color: #ebebeb;
    border-radius: 7px;
    width: 20rem;
    height: 2rem;
    justify-content: center;
    text-align: center;
}

.room-selection p {
    margin-top: .5rem;
    color: #96C93D;
}

.guest-details {
    background-color: #96C93D;
    border-radius: 7px;
    width: 20rem;
    height: 2rem;
    justify-content: center;
    text-align: center;
}

.guest-details p {
    margin-top: .5rem;
    color: #5e7c29;
}

.payment {
    background-color: #ebebeb;
    border-radius: 7px;
    width: 20rem;
    height: 2rem;
    justify-content: center;
    text-align: center;
}

.payment p {
    margin-top: .5rem;
    color: #3f3f3f;
}

.text1 {
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

.text1 .txt1 {
    color: #3f3f3f;
    font-size: 1.5rem;
    font-weight: bold;
}

.text1 .txt2 {
    color: #3f3f3f;
    font-size: .8rem;
}

.guest-form {
    padding: 1rem;
    background-color: #ebebeb;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    margin-top: 1.5rem;
}

.guest-form-layer1 {
    display: flex;
    column-gap: 1rem;
}

.guest-form-layer1-fname {
    position: relative;
    width: 33%;
    height: 3rem;
}

.guest-form-layer1-fname input {
    position: absolute;
    width: 90%;
    height: 3rem;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    border: 1px solid #3f3f3f59;
    border-radius: 5px;
    background-color: #ebebeb;
    color: #3f3f3f;
    font-size: 0.8rem;
}

.guest-form-layer1-fname ::placeholder {
    font-size: .7rem;
}

.guest-form-layer1-fname .fname-label {
    position: absolute;
    top: -0.6rem;
    left: 1rem;
    color: #3f3f3f59;
    font-size: 0.7rem;
    z-index: 1111;
    background-color: #ebebeb;
    padding: .3rem;
}

.guest-form-layer1-lname {
    position: relative;
    width: 33%;
    height: 3rem;
}

.guest-form-layer1-lname input {
    position: absolute;
    width: 90%;
    height: 3rem;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    border: 1px solid #3f3f3f59;
    border-radius: 5px;
    background-color: #ebebeb;
    color: #3f3f3f;
    font-size: 0.8rem;
}

.guest-form-layer1-lname ::placeholder {
    font-size: .7rem;
}

.guest-form-layer1-lname .lname-label {
    position: absolute;
    top: -0.6rem;
    left: 1rem;
    color: #3f3f3f59;
    font-size: 0.7rem;
    z-index: 1111;
    background-color: #ebebeb;
    padding: .3rem;
}

.guest-form-layer1-sex {
    position: relative;
    width: 33%;
    height: 3rem;
}

.guest-form-layer1-sex select {
    position: absolute;
    width: 97%;
    height: 3rem;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    border: 1px solid #3f3f3f59;
    border-radius: 5px;
    background-color: #ebebeb;
    color: #3f3f3f;
    font-size: 0.8rem;
}

.guest-form-layer1-sex .label-name {
    position: absolute;
    top: -0.6rem;
    left: 1rem;
    color: #3f3f3f59;
    font-size: 0.7rem;
    z-index: 1111;
    background-color: #ebebeb;
    padding: .3rem;
}

.guest-form-layer2 {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
}

.guest-form-layer2-no {
    position: relative;
    width: 33%;
    height: 3rem;
}

.guest-form-layer2-no input {
    position: absolute;
    width: 90%;
    height: 3rem;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    border: 1px solid #3f3f3f59;
    border-radius: 5px;
    background-color: #ebebeb;
    color: #3f3f3f;
    font-size: 0.8rem;
}

.guest-form-layer2-no ::placeholder {
    font-size: .7rem;
}

.guest-form-layer2-no .label-name {
    position: absolute;
    top: -0.6rem;
    left: 1rem;
    color: #3f3f3f59;
    font-size: 0.7rem;
    z-index: 1111;
    background-color: #ebebeb;
    padding: .3rem;
}

.guest-form-layer2-email {
    position: relative;
    width: 33%;
    height: 3rem;
}

.guest-form-layer2-email input {
    position: absolute;
    width: 90%;
    height: 3rem;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    border: 1px solid #3f3f3f59;
    border-radius: 5px;
    background-color: #ebebeb;
    color: #3f3f3f;
    font-size: 0.8rem;
}

.guest-form-layer2-email ::placeholder {
    font-size: .7rem;
}

.guest-form-layer2-email .label-name {
    position: absolute;
    top: -0.6rem;
    left: 1rem;
    color: #3f3f3f59;
    font-size: 0.7rem;
    z-index: 1111;
    background-color: #ebebeb;
    padding: .3rem;
}

.guest-form-layer2-bday {
    position: relative;
    width: 33%;
    height: 3rem;
}

.guest-form-layer2-bday input {
    position: absolute;
    width: 90%;
    height: 3rem;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    border: 1px solid #3f3f3f59;
    border-radius: 5px;
    background-color: #ebebeb;
    color: #3f3f3f;
    font-size: 0.8rem;
}

.guest-form-layer2-bday ::placeholder {
    font-size: .7rem;
}

.guest-form-layer2-bday .label-name {
    position: absolute;
    top: -0.6rem;
    left: 1rem;
    color: #3f3f3f59;
    font-size: 0.7rem;
    z-index: 1111;
    background-color: #ebebeb;
    padding: .3rem;
}

.guest-form-layer3 {
    position: relative;
    margin-top: 1rem;
}

.guest-form-layer3 input {
    position: absolute;
    width: 97%;
    height: 3rem;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    border: 1px solid #3f3f3f59;
    border-radius: 5px;
    background-color: #ebebeb;
    color: #3f3f3f;
    font-size: 0.8rem;
}

.guest-form-layer3 ::placeholder {
    font-size: 0.7rem;
}

.guest-form-layer3 .label-name {
    position: absolute;
    top: -0.6rem;
    left: 1rem;
    color: #3f3f3f59;
    font-size: 0.7rem;
    z-index: 1111;
    background-color: #ebebeb;
    padding: .3rem;
}

.guest-form-layer4 textarea{
    width: 97%;
    height: 3rem;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    border: 1px solid #3f3f3f59;
    border-radius: 5px;
    background-color: #ebebeb;
    color: #3f3f3f;
    font-size: 0.8rem;
    margin-top: 4rem;
    padding: 1rem;
}

.proceed {
    width: 6rem;
    height: 3rem;
    color: #5e7c29;
    background-color: #96C93D;
    border: 1px solid #96C93D;
    border-radius: 10px;
    float: right;
    margin-top: 3rem;
    margin-right: 6rem;
}

.proceed:hover {
    cursor: pointer;
}

